body {
  margin: 30px 150px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
 
 background-image: url("C:\Users\michal.bogdan\OneDrive - Soukromá SOŠ a SOU BEAN, s.r.o\Plocha\Lusider Web\Lusider\obrazky\1346455.png"); 
 background-size: cover; 
 background-position:  0px -90px; 
 background-repeat: no-repeat; 
 background-attachment: fixed;
 
}


.container {

  margin: 0 auto;

  box-sizing: border-box;
  overflow: hidden; 
}

.header {
  background-color: #e67e22; 
  color: #fff; 
  padding: 20px;
  text-align: center;
  border-radius: 5px;
  border-color: #000000;
}

@keyframes wave {
  0%, 100% {
      transform: translateY(0); 
  }
  50% {
      transform: translateY(-5px);
  }
}


.logo {
  float: left;
  width: 10px;
  height: 5px;
}


.button {
  float: right;
  padding: 20px;
}


.button-middle-center{
  text-align: center;
}

.button-middle-1 {
  display: inline-block;
padding: 10px; 
text-align: center;
}


.search-box {
  display: block;
  margin-top: 80px;
  text-align: center;
  padding-top: 270px;
  padding-bottom: 10px;
}

.main-text-border{
  border: 2px solid #888; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  max-width: 500px;
  position: absolute;
  top: 32%;
  left: 50%;
  transform: translate(-50%, -50%);
  
  background-color: #ffffff;
}

.main-text {
  color: #000000; 
  font-size: 30px; 
  font-weight: bold; 
  transform: translateY(2px); 
  text-align: center;
  animation: wave 0.5s infinite alternate; 


}
.navbar {
  position: fixed; 
  top: 0; 
  background-color: #ffffff; 
  color: #fff; 
  z-index: 1000; 
  width: 100%; 
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); 
}

.recipe-border {
  border: 2px solid #888; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); 
  max-width: 800px;
  margin: 0 auto; 
  text-align: left;
  background-color: #f9f9f9; 
  padding: 20px; 
  transition: transform 0.3s ease; 
}

.recipe-border:hover {
  transform: scale(1.1) translateY(-10px); 
}

.recipe-title {
  font-size: 24px;
  color: #000000; 
  text-transform: uppercase; 
  margin-bottom: 10px;
}

.recipe-info {
  font-size: 16px;
  color: #000000; 
  line-height: 1.6; 
}

.recipe-info strong {
  font-weight: bold;
  color: #000000; 
}


.recipe-title:hover {
  color: #ff6600; 
  transition: color 0.3s ease; 
}


.recipe-info:hover {
  color: #464646; 
  transition: color 0.3s ease; 
}


